@font-face {
  font-family: "Justice League";
  font-style: normal;
  font-weight: normal;
  src: url("/font/justice-league.woff") format("woff");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("/font/nunito-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("/font/nunito-700.woff2") format("woff2");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  src: url("/font/nunito-900.woff2") format("woff2");
}
